!!!
%html
  %head
    - wd = yield(:word).strip
    %title
      ! #{wd.empty? ? 'That word' : %[&ldquo;#{wd}&rdquo;]} is singular, my friend.
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #main{:class => 'container'}
      #blackboard
        = yield
      #footer
        %a{:href => 'http://1st.ug/'} Scyfy Technologies
        &copy; 2011, All Rights Reserved
